
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<div class="jumbotron">
    <p>
        Our company, BlowOut, began in 1631 with Franz Joseph Haydn. When he discovered his musical talent, he knew that talent could be hiding in any child. As a result, he wanted to find a way that young children could develop their musical talents. So he began renting instruments.
    </p>
    <p>
        Over the years, the prices have changed, but the mission has stayed the same. With this vision, BlowOut has allowed millions of young musicians to develop their musical talents.
    </p>
    <img src="~/Content/images/Joseph_Haydn.jpg" />
</div>
