@{
    ViewBag.Title = "Blow Out!";
}
<style>
    body {
        background-image: url('../../Content/images/Instrument_Background.jpg');
        background-size: cover;
    }
</style>
<div class="jumbotron">
    <h1>Welcome to Blow Out!</h1>
    <p class="lead">
        <p>
            Your number 1 provider of rental instruments.
        </p>
        <span style="font-style: italic;">
            "It's easy to play any musical instrument: all you have to do is touch the right key at the right time and the instrument will play itself.”
        </span>- Johann Sebastian Bach</p>
    <p>
</div>

@Html.ActionLink("Login", "Login", "Home", null, new { @class = "btn btn-primary" })

