
@{
    ViewBag.Title = "Rentals";
}



<div class="jumbotron">
    <h2>Rentals</h2>
    <p>
        Click on the picture of the instrument you would like to rent.
    </p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">            
            <img src="~/Content/images/Trumpet.jpg" />
        </div>
        <div class="col-md-4">            
            <img src="~/Content/images/Trombone.jpg" />
        </div>
        <div class="col-md-4">            
            <img src="~/Content/images/Tuba.jpg" />
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="~/Content/images/Clarinet.jpg" />
        </div>
        <div class="col-md-4">
            <img src="~/Content/images/Saxophone.jpg" />
        </div>
        <div class="col-md-4">
            <img src="~/Content/images/Flute.jpg" />
        </div>
    </div>
</div>