@model BlowOut.Models.Instrument

@{
    ViewBag.Title = "Rent Instrument";
}
@{ViewBag.link = @Model.Instrument_Desc + ".jpg";}
<h2>Rent Instrument</h2>

<div class="container">
    <div class="col-md-4">
        <img style="width:500px; height: auto; object-fit: contain;" src="~/Content/images/@ViewBag.link" />
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Used", "Create", "Clients", new { ID=@Model.Instrument_ID, rentType="Used" }, new { @class = "btn btn-primary" })
    </div>
    <div class="col-md-4">
        @Html.ActionLink("New", "Create", "Clients", new { ID = @Model.Instrument_ID, rentType = "New" }, new { @class = "btn btn-primary" })
    </div>
</div>
